#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
}

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-size: 30px;
    font-weight: 600;
    text-align: left;
    margin-bottom: 16px;
}

button {
    border: none;
    outline: none;
    border-radius: 0;
    background-color: #4db6ac;
    padding: 15px;
    font-weight: 600;
    transition: .3s all;
    cursor: pointer;

    &:hover {
        background-color: #58d3c7;
    }
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.main{
    padding: 16px 0;
}